{% extends 'core/base.html' %}
{% load static %}

{%block tittle%}
Гладить
{%endblock%}
{%block namepage%}
<h1 class="h2">Погладить кота</h1>
{%endblock%}
{%block content%}
<br>
<br>
<div>
    <h4>Нажмите на котика чтобы его погладить</h4>
    <div id="pCat" class="hideable"></div>
    <br>
    <canvas id="canvas" class="hideable numbers-only" width="400" height="400"></canvas>

    <script>

// создаем canvas и добавляем его на страницу
const canvas = new fabric.Canvas('canvas');

// загружаем изображение на canvas
fabric.Image.fromURL('https://avatars.mds.yandex.net/i?id=8e21147617f4ba464dc79fc657c0c4c2-4434086-images-thumbs&n=13', function(img) {
  // задаем размеры и позицию изображения
  img.scaleToWidth(200);
  img.set({
    left: 50,
    top: 50
  });

  // добавляем изображение на canvas
  canvas.add(img);

  // добавляем обработчик события click на изображение
  img.on('selected', function() {
    // меняем изображение на другое
    img.setSrc('https://www.imgonline.com.ua/result_img/imgonline-com-ua-Resize-Z0P6tlvm6oP.jpg', function() {
      // перерисовываем canvas
      canvas.renderAll();

      // выводим оповещение
        document.getElementById('pCat').innerHTML = "Котик поглажен";
    });
  });
});

    </script>
</div>
{%endblock%}